{# Желательно перенести в роль.#}
services:
{% for svc in services %}

    {{ svc.name }}:
        image: {{ svc.image }}
        ports:
            - "{{5000 + loop.index0}}:{{ svc.expose }}" {# Плохо. Порты надо брать из конфига, неявная скрытая логика ведет к проблемам#}

        {% if "www" in svc %} {# ОЧЕНЬ плохо. В стиле студенческого кода на вижуал бейсике в экселе. У тебя в vars доступны питонячьи структуры типо dict, list. Конфиги надо определять там и в шаблоне рендерить их по наличию поля в словаре svc. Иначе на больших масштабах это превратится в венегрет#}
        labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{svc.name}}.rule=Host(`{{ svc.www }}`)"
        - "traefik.http.services.{{svc.name}}.loadbalancer.server.port={{ svc.expose }}"
        - "traefik.http.routers.{{svc.name}}.entrypoints=websecure"
        - "traefik.http.routers.{{svc.name}}.tls=true"
        - "traefik.http.routers.{{svc.name}}.tls.certresolver=le"
        {% endif %}
{% endfor %}
